body {
    height: 100%;
}

/* IMAGE PAGE ACCUEIL*/
.background-image {
    color: white;
    background-image: url("Images/photo-accueil.jpg");
    background-size: cover;
    background-position: center;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(71, 85, 94);
}
.logo {
    width: 10rem;
}
.photo {
    min-height: 350px;
    max-height: 350px;
    width: auto;
}

footer {
    color: white;
    background: black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-height: 300px;
    min-height: 300px;
    width: auto;
}

.card:hover {
    border: 1px solid black;
}
#titre-tarif {
    color: white;
    font-size: 3rem;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}